/* You can add global styles to this file, and also import other style files */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fixed {
    width: 200px
}

.flex-item {
    flex-grow: 1;
}